<h1><%= @artist.name %></h1>

<%= image_tag @artist.image.thumbnail %>

<h3>List of songs</h3>
<br>
<% @songs.each do |song|%>
  <h4><%=  "#{song.name} #{song.duration} seconds"  %></h4>
<% end %>

<%= link_to "Update Artist", edit_artist_path(@artist), class: "btn btn-default" %>
<%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-default" %>
<%= link_to "Back", artists_path, class: "btn btn-default" %>
