<h1><%= @artist.name %></h1>

<%= image_tag @artist.image.thumbnail %>

<h3>List of songs</h3>
<br>
<ul>
  <% @songs.each do |song|%>
    <li>
      <h4><%= link_to "#{song.name}", song.link, target:"_blank" %></h4>
      <p><%=  " Duration #{song.duration/60}:#{song.duration%60}"  %></p>
    </li>
    <%= link_to "Delete song", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-default" %>
  <% end %>
</ul>
<hr>

<%= link_to "Change Artist's info", edit_artist_path(@artist), class: "btn btn-default" %>
<%= link_to "Add a new song", new_artist_song_path(@artist), class: "btn btn-default" %>
<%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-default" %>
<%= link_to "Back", artists_path, class: "btn btn-default" %>

<hr>
