<%= form_for [@artist, @song] do |f| %>

<div class="form-group">
  <label>Song name</label>
  <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
</div>

<div class="form-group">
  <label>Song duration</label>
  <%= f.number_field :duration, placeholder: "Duration", min:1, max:600, class: "form-control" %>
</div>

<div class="form-group">
  <label>Youtube Link</label>
  <%= f.url_field :link, placeholder: "Youtube Link", class: "form-control" %>
</div>

<label>Submit this song?</label>

<div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
</div>

<%end%>
